

@font-face {
    font-family: 'Fredoka';
    src: url(../fonts/Fredoka.ttf);
}

:root
{
    /* Variables de color */
    --purpleColor:rgb(249, 244, 249);
    --darkPurpleColor: rgb(72, 19, 73);
    --greenColor:rgb(136, 166, 136);
    --whiteColor: #ffffff;
    --palePinkColor: #EBE1F2;
    --midPinkColor: #CDAEDB;
    --midPurpleColor: #9D7CBE;

    /* Variables de los margenes */
    --m2: 41.86vw;
    --m3: 25.89vw;
    --m4: 16.06vw;
    --m5: 9.92vw;
    --m6: 6.14vw;
    --m7: 3.78vw;
    --m8: 2.34vw;

    --m5Em: 9em;
    --m8Em: 3em;
    --m1em: 1em;
    --m12Em: 12em;
    --m30: 42vw;

    /* Variables de las tipografías */
    --h1Size: 32pt;
    --h2Size: 17.8pt;
    --textSize: 19.78pt;
    --textSamllSize: 11pt;
}

body
{
    background-color:var(--whiteColor);
    padding: 0px;
    border: 0px;
    margin: 0;
    font-family: 'Fredoka';
}

img
{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

h1 
{
    margin-top: var(--m7);
    margin-bottom: var(--m7);
    font-weight: 650;
    font-size: var(--h1Size);

    color: var(--whiteColor);
    text-shadow: 
        -2px -2px 0 var(--midPurpleColor),  
        2px -2px 0 var(--midPurpleColor),
        -2px 2px 0 var(--midPurpleColor),
        2px 2px 0 var(--midPurpleColor);
}

p {
    font-size: var(--textSize);
}

body>.menu-cont img /*se puede cambiar luego a un selector o una opción mejor*/
{
    width: 60px;
}

/* -------- HEADER --------*/

.menu-cont
{
    /* height: var(--m7); */
    border-collapse: separate;
    border-spacing: 0;

    border-bottom: 7px solid var(--midPinkColor);
    padding-left: var(--m7);
    padding-right: var(--m7);
    background-color: var(--whiteColor);

    position: sticky;
    top: 0;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav
{
    color: var(--whiteColor);
}

nav .menu-opt
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: var(--m7);
}

nav .menu-opt a
{
    color: var(midPurpleColor);
    background-color: var(--midPinkColor);
    text-decoration: none;
    display: block;

    font-size: var(--textSize);
    font-weight: 650;

    padding: 0px 60px;
    border: 5px solid var(--midPurpleColor);
    border-radius: 20px;
    border-color: var(--midPurpleColor);
}


button
{
    padding: 5px 10px;
    background-color: var(--midPinkColor);
    color: var(--whiteColor);
    border-radius: 20px;
    border-color: var(--midPurpleColor);

    border-width: 5px;

    text-decoration: none;
    display: block;

    font-family: 'Fredoka';
    font-size: var(--textSize);
    font-weight: 650;
}


/* ----- CAROUSEL ----- */

.fondo
{
    padding: var(--m8Em) 0;
}

.carousel 
{
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: var(--m8Em);
    padding-bottom: var(--m8Em);
}
  
.slides 
{
    display: flex;
}

.slides img:first-child
{
    margin-left: var(--m12Em);
}

.slides img 
{
    max-width: var(--m0In);
    max-height: var(--m0In);
    transition: transform 0.7s ease;
    padding-left: var(--m8Em);
}

/* ----- TEXT ----- */
  
.prev, .next 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color:var(--darkPurpleColor);
    color:var(--whiteColor);
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
  
.prev 
{
    left: var(--m8Em);
}
  
.next 
{
    right: var(--m8Em);
}

.elMundo
{
    align-items: center;
    text-align: center;
}

.elMundo h2
{
    font-size: 40px;
}

.elMundo .section-2
{
    align-items: center;
    display: flex;
    margin: 0 var(--m8Em) var(--m12Em) var(--m8Em);
}

.elMundo .section-2 p
{
    text-align: left;
    padding: 0 var(--m1em) 0 var(--m1em);
}

.elMundo .section-2 img
{
    width: var(--m30);
}

  
