

@font-face {
    font-family: 'Fredoka';
    src: url(../fonts/Fredoka.ttf);
}

:root
{
    /* Variables de color */
    --purpleColor:rgb(249, 244, 249);
    --darkPurpleColor: rgb(72, 19, 73);
    --greenColor:rgb(136, 166, 136);
    --whiteColor: aliceblue;
    --palePinkColor: #EBE1F2;
    --midPinkColor: #CDAEDB;
    --midPurpleColor: #9D7CBE;

    /* Variables de los margenes */
    --m2: 41.86vw;
    --m3: 25.89vw;
    --m4: 16.06vw;
    --m5: 9.92vw;
    --m6: 6.14vw;
    --m7: 3.78vw;
    --m8: 2.34vw;

    /* Variables de las tipografías */
    --h1Size: 32pt;
    --h2Size: 17.8pt;
    --textSize: 19.78pt;
    --textSamllSize: 11pt;
}

body
{
    background-color:var(--purpleColor);
    padding: 0px;
    border: 0px;
    margin: 0;
    font-family: 'Fredoka';
}

img
{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

h1 
{
    margin-top: var(--m7);
    margin-bottom: var(--m7);
    font-weight: 650;
    font-size: var(--h1Size);
}

p {
    font-size: var(--textSize);
}

body>.menu-cont img /*se puede cambiar luego a un selector o una opción mejor*/
{
    width: 60px;
}

.menu-cont
{
    height: var(--m7);
    padding-left: var(--m7);
    padding-right: var(--m7);

    position: sticky;
    top: 0;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color:var(--darkPurpleColor);
}

nav
{
    color:var(--whiteColor);
}

nav .menu-opt
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

nav .menu-opt a
{
    color:var(--whiteColor);
    text-decoration:underline;
    display: block;
}


button
{
    padding: 5px 10px;
    background-color: var(--whiteColor);
    color: var(--greenColor);
    border-radius: 20px;
    display: block;
}

.fondo
{
    padding: var(--m8Em) 0;
}

.carousel 
{
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: var(--m8Em);
    padding-bottom: var(--m8Em);
}
  
.slides 
{
    display: flex;
}

.slides img:first-child
{
    margin-left: var(--12Em);
}

.slides img 
{
    max-width: var(--m0In);
    max-height: var(--m0In);
    transition: transform 0.7s ease;
    padding-left: var(--m8Em);
}


  
.prev, .next 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color:var(--darkPurpleColor);
    color:var(--whiteColor);
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
  
.prev 
{
    left: var(--m8Em);
}
  
.next 
{
    right: var(--m8Em);
}

.elMundo
{
    align-items: center;
    text-align: center;
}

.elMundo h2
{
    font-size: 40px;
}

.elMundo .section-2
{
    align-items: center;
    display: flex;
    margin: 0 var(--m8Em) var(--12Em) var(--m8Em);
}

.elMundo .section-2 p
{
  
    padding: 0 var(--1em) 0 var(--1em);
}

.elMundo .section-2 img
{
    width: var(--m30);
}


  
