

@font-face {
    font-family: 'Fredoka';
    src: url(../fonts/Fredoka.ttf);
}

:root
{
    /* Variables de color */
    --purpleColor:rgb(249, 244, 249);
    --darkPurpleColor: rgb(72, 19, 73);
    --greenColor:rgb(136, 166, 136);
    --whiteColor: #ffffff;
    --palePinkColor: #EBE1F2;
    --midPinkColor: #CDAEDB;
    --midPurpleColor: #9D7CBE;

    /* Variables de los margenes */
    --m2: 41.86vw;
    --m3: 25.89vw;
    --m4: 16.06vw;
    --m5: 9.92vw;
    --m6: 6.14vw;
    --m7: 3.78vw;
    --m8: 2.34vw;

    --m5Em: 9em;
    --m8Em: 3em;
    --m1em: 1em;
    --m12Em: 12em;
    --m30: 42vw;
    --m4_3: 20vw;
    --espacioImagenes: 2em;

    /* Variables de las tipografías */
    --h1Size: 32pt;
    --h2Size: 17.8pt;
    --textSize: 19.78pt;
    --textSamllSize: 11pt;
    --textMidSize: 15pt;
}

body
{
    background-color:var(--whiteColor);
    padding: 0px;
    border: 0px;
    margin: 0;
    font-family: 'Fredoka';
}

img
{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

h1 
{
    margin-top: var(--m7);
    margin-bottom: var(--m7);
    font-weight: 650;
    font-size: var(--h1Size);

    color: var(--whiteColor);
    text-shadow: 
        -2px -2px 0 var(--midPurpleColor),  
        2px -2px 0 var(--midPurpleColor),
        -2px 2px 0 var(--midPurpleColor),
        2px 2px 0 var(--midPurpleColor);
}

p {
    font-size: var(--textSize);
}

body>.menu-cont img /*se puede cambiar luego a un selector o una opción mejor*/
{
    width: 60px;
}

/* -------- HEADER --------*/

.menu-cont
{
    border-collapse: separate;
    border-spacing: 0;

    border-bottom: 7px solid var(--midPinkColor);
    padding-left: var(--m7);
    padding-right: var(--m7);
    background-color: var(--whiteColor);

    position: sticky;
    top: 0;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav
{
    color: var(--whiteColor);
}

nav .menu-opt
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: var(--m7);
}

nav .menu-opt a
{
    color: var(midPurpleColor);
    background-color: var(--midPinkColor);
    text-decoration: none;
    display: block;

    font-size: var(--textSize);
    font-weight: 650;

    padding: 0px 60px;
    border: 5px solid var(--midPurpleColor);
    border-radius: 20px;
    border-color: var(--midPurpleColor);
}

#menuToggle, .menu-icon
{
    color: var(--darkPurpleColor);
    display: none;
}

button
{
    padding: 5px 10px;
    background-color: var(--midPinkColor);
    color: var(--whiteColor);
    border-radius: 20px;
    border-color: var(--midPurpleColor);

    border-width: 5px;

    text-decoration: none;
    display: block;

    font-family: 'Fredoka';
    font-size: var(--textSize);
    font-weight: 650;
}


/* ----- CAROUSEL ----- */

.fondo
{
    padding: var(--m8Em) 0;
}

.carousel 
{
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: var(--m8Em);
    padding-bottom: var(--m8Em);
}
  
.slides 
{
    display: flex;
}

.slides img:first-child
{
    margin-left: 150px;
}

.slides img 
{
    max-width: var(--m0In);
    max-height: var(--m0In);
    transition: transform 0.7s ease;
    padding-left: var(--m8Em);
}


  
.prev, .next 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color:var(--darkPurpleColor);
    color:var(--whiteColor);
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
  
.prev 
{
    left: var(--m8Em);
}
  
.next 
{
    right: var(--m8Em);
}


/* ----- TEXT ----- */
.elMundo
{
    align-items: center;
    text-align: center;
}

.elMundo h2
{
    font-size: 40px;
}

.elMundo .section-2
{
    align-items: center;
    display: flex;
    margin: 0 var(--m8Em) var(--m12Em) var(--m8Em);
}

.elMundo .section-2 p
{
    text-align: left;
    padding: 0 var(--m1em) 0 var(--m1em);
}

.elMundo .section-2 img
{
    width: var(--m30);
}

.characters
{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: var(--espacioImagenes);
    padding-bottom: var(--m5);
}

.characters div
{
    display: flex;
    flex-direction: column;
    width: var(--m3);
    align-self: center;
    justify-self: center;
    padding: 0 var(--m1em);
}

.characters .character-img
{
    width: var(--m4_3);
    border: 7px solid #2B0E39;
    border-radius: 20px;
}

.characters .character-description-container
{
    margin: 0;
    width: var(--m4);
    background-color: #EFEAFF;
    border: 7px solid #2B0E39;
    border-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.characters .character-description-container .title
{
    font-size: var(--h2Size);
    margin-top: 1em;
    margin-bottom: 0;
    padding-top: 0%;
    padding-bottom: 0%;
}

.characters .character-description-container .character-description
{
    font-size: var(--textMidSize);
}

.boss
{
    display: flex; 
    flex-direction: row-reverse;
    justify-content: center;
    align-items: top;
    padding: 0 var(--m4);
    padding-bottom: var(--m5);
}

.boss .boss-img
{
    padding: 30px 0;
    width: var(--m3);
    /* border: 7px solid #2B0E39;
    border-radius: 20px; */
}


.boss .boss-text
{
    display: flex;
    flex-direction: column;
    width: var(--m2);
}

.boss .boss-text h1
{
    align-self: self-end;   
    margin-right: var(--m7);
}


.boss .boss-description-container
{
    background-color: #EFEAFF;
    padding: 0 var(--m7);

    border: 7px solid #2B0E39;
    border-right: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* pc pequeña */
@media only screen and (max-width: 1290px)
{
    .slides img:first-child
    {
        margin-left: 0px;
    }

    .slides img 
    {
        padding-left: 10px;
    }
    .boss .boss-text p
    {
        font-size: var(--textMidSize);
    }
}

/* tablet */
@media only screen and (max-width: 1030px)
{
   
    nav .menu-opt
    {
        gap: 10px;
    }
    nav .menu-opt a
    {
        padding: 3px;
    }

    .slides img 
    {
        padding-left: 5px;
    }

    .prev, .next 
    {
        width: 40px;
        height: 40px;
        font-size: 15px;
        line-height: 20px;
    }
    
    .prev 
    {
        left: 20px;
    }
    
    .next 
    {
        right: 20px;
    }

    .elMundo .section-2 img 
    {
        width: 100%;
    }

    .elMundo .section-2 , .characters
    {
        flex-direction: column;
    }

    .characters div
    {
        padding: 20px 0;
    }

    .characters .character-img
    {
        width: 500px;
        border: 6px solid #2B0E39;
    }

    .characters .character-description-container
    {
        padding-left: 10px;
        width: 400px;
        border: 6px solid #2B0E39;
        border-top: 0;
    }

    .boss
    {
        padding: 0 5%;
        padding-bottom: 10%;
    }

    .boss .boss-img
    {
        display: flex;
        align-items: self-end;
        padding: 30px var(--m1em);
        width: var(--m2);
    }

    .boss .boss-text p
    {
        font-size: var(--textMidSize);
    }

    .boss .boss-text
    {
       padding-left: 20px;
    }

    .boss .boss-text h1
    {
        align-self: center;
    }

    .boss .boss-description-container
    {
        padding: 0 var(--m1em);
        border: 7px solid #2B0E39;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }



}

/* mobile */
@media only screen and (max-width: 580px)
{
    .menu-cont
    {
        padding-top: 20px;
    }

    .menu-cont, .menu-cont nav
    {
        display: block;
    }
    .menu-cont .menu-icon 
    {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu-cont .menu-icon i
    {
        font-size: 2em;
    }
    .menu-opt
    {
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        transition: 0.35s;
    }

    #menuToggle:checked ~ .menu-opt
    {
        max-height: 350px;
    }

    .menu-cont div:last-child
    {
         display: none;
    }

    
    .prev, .next 
    {
        width: 30px;
        height: 30px;
        font-size: 10px;
        line-height: 12px;
    }
    
    .prev 
    {
        left: 15px;
    }
    
    .next 
    {
        right: 15px;
    }

    .elMundo .section-2
    {
        margin: 0 10px var(--m12Em) 10px;
    }

    .characters div
    {
        padding: 20px 0;
    }

    .characters .character-img
    {
        width: 350px;

    }

    .characters .character-description-container
    {
        margin-top: 15px;
        border-top: 6px solid #2B0E39;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 350px;
    }

    p
    {
        font-size: var(--textMidSize);
    }

    .boss
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boss .boss-img
    {
        padding: 15px var(--m1em) 5px var(--m1em);
    }

    .boss .boss-text h1
    {
        text-align: center;
    }
    .boss .boss-text
    {
        width: var(--m1);
        padding-left: 0;
        padding-bottom: 50px;
    }
}