

@font-face {
    font-family: 'Fredoka';
    src: url(../fonts/Fredoka.ttf);
}

:root
{
    /* Variables de color */
    --purpleColor:rgb(249, 244, 249);
    --darkPurpleColor: rgb(72, 19, 73);
    --greenColor:rgb(136, 166, 136);
    --whiteColor: aliceblue;
    --palePinkColor: #EBE1F2;
    --midPinkColor: #CDAEDB;
    --midPurpleColor: #9D7CBE;

    /* Variables de los margenes */
    --m2: 41.86vw;
    --m3: 25.89vw;
    --m4: 16.06vw;
    --m5: 9.92vw;
    --m6: 6.14vw;
    --m7: 3.78vw;
    --m8: 2.34vw;

    /* Variables de las tipografías */
    --h1Size: 32pt;
    --h2Size: 17.8pt;
    --textSize: 19.78pt;
    --textSamllSize: 11pt;
}

body
{
    background-color:var(--purpleColor);
    padding: 0px;
    border: 0px;
    margin: 0;
    font-family: 'Fredoka';
}

img
{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

h1 
{
    margin-top: var(--m7);
    margin-bottom: var(--m7);
    font-weight: 650;
    font-size: var(--h1Size);
}

p {
    font-size: var(--textSize);
}

body>.menu-cont img /*se puede cambiar luego a un selector o una opción mejor*/
{
    width: 60px;
}


/* -------- HEADER --------*/

.menu-cont
{
    /* height: var(--m7); */
    border-bottom-width: 7px;
    border-color: var(--palePinkColor);
    padding-left: var(--m7);
    padding-right: var(--m7);

    position: sticky;
    top: 0;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--darkPurpleColor);
}

nav
{
    color: var(--whiteColor);
}

nav .menu-opt
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: var(--m7);
}

nav .menu-opt a
{
    color: var(midPurpleColor);
    background-color: var(--midPinkColor);
    text-decoration: none;
    display: block;

    font-size: var(--textSize);
    font-weight: 650;

    padding: 0px 60px;
    border: 3px;
    border-radius: 20px;
    border-color: var(--midPurpleColor);
}


button
{
    padding: 5px 10px;
    background-color: var(--midPinkColor);
    color: var(--whiteColor);
    border-radius: 20px;
    border-color: var(--midPurpleColor);

    border-width: 10px;

    display: block;

    font-family: 'Fredoka';
    font-size: var(--textSize);
    font-weight: 650;
}


/* -------- TEASER --------*/

.teaser
{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;

    padding: 0 var(--m7);
    padding-bottom: var(--m5);
}

.teaser > iframe
{
    width: 100%;
    height: 80%;
}


/* -------- PROTAGONISTA --------*/

.protagonist
{
    display: flex; 
    justify-content: center;
    align-items: top;
    padding: 0 var(--m4);
    padding-bottom: var(--m5);
}

.protagonist .protagonist-img
{
    width: var(--m3);
    text-align: top;
}

.protagonist .protagonist-text
{
    display: flex;
    flex-direction: column;
    width: var(--m2);
}

.protagonist .protagonist-text h1
{
    margin-left: var(--m7);
}


.protagonist .protagonist-description-container
{
    background-color: aliceblue;
    padding: 0 var(--m7);
}


/* -------- EMOCIONES --------*/

.characters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card-cont
{
    /* padding: 300px; */
    position: relative;
}

.card
{
    transform: translate(-50%, -100%);
    position: absolute;
}

.characters img
{
    width: 200px;
    height: 300px;
}

.card-cont .card
{
    transition: all 0.15s;

}

.card-cont .card:first-child
{
    transform: translate(-140%, -92%) rotate(-15deg);
    z-index: 2;
}

.card-cont .card:first-child:hover
{
    transform: translate(-140%, -120%) scale(1.2, 1.2) rotate(0deg);
    z-index: 3;
}

.card-cont .card:nth-child(2)
{
    z-index: 1;
}

.card-cont .card:nth-child(2):hover
{
    transform: translate(-50%, -120%) scale(1.2, 1.2) rotate(0deg);
    z-index: 3;
}

.card-cont .card:last-child
{
    transform: translate(40%, -92%) rotate(15deg);
    z-index: 0;
}

.card-cont .card:last-child:hover
{
    transform: translate(40%, -120%) scale(1.2, 1.2) rotate(0deg);
    z-index: 3;
}


/* -------- FOOTER --------*/

footer
{
    color: var(--whiteColor);
}

footer .social
{
    /* width: 70%; */
    background-color: var(--darkPurpleColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social .menu-opt button
{
    width: 100px;
}

footer .contact-container
{
    /* width: 30%; */
    background-color: var(--darkPurpleColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .contact-container h1
{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 46px;
    color: var(--whiteColor);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact-form
{
    max-width: 420px;
    margin:20px auto;
}

.feedback-input
{
    color: var(--whiteColor);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid var(--purpleColor);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus
{
    border: 2px solid rgb(194, 102, 194);
}

.contact-form textarea
{
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"]
{
    font-family: 'Monserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: var(--purpleColor);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: var(--whiteColor);
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover
{
    background: rgb(194, 102, 194);
}
