

@font-face {
    font-family: 'Fredoka';
    src: url(../fonts/Fredoka.ttf);
}

:root
{
    /* Variables de color */
    --purpleColor:rgb(249, 244, 249);
    --darkPurpleColor: rgb(72, 19, 73);
    --greenColor:rgb(136, 166, 136);
    --whiteColor: #ffffff;
    --palePinkColor: #EBE1F2;
    --midPinkColor: #CDAEDB;
    --midPurpleColor: #9D7CBE;
    --midCambiodeColor: #7c598b;

    /* Variables de los margenes */
    --m2: 41.86vw;
    --m3: 25.89vw;
    --m4: 16.06vw;
    --m5: 9.92vw;
    --m6: 6.14vw;
    --m7: 3.78vw;
    --m8: 2.34vw;

    --m1em: 1em;

    
    /* Variables de las tipografías */
    --h1Size: 32pt;
    --h2Size: 17.8pt;
    --textSize: 19.78pt;
    --textMidSize: 13pt;
    --textSamllSize: 10pt;
    --textSmallerSize: 6px;
}

body
{
    background-color:var(--whiteColor);
    padding: 0px;
    border: 0px;
    margin: 0;
    font-family: 'Fredoka';
}

img
{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

h1 
{
    margin-top: var(--m7);
    margin-bottom: var(--m7);
    font-weight: 650;
    font-size: var(--h1Size);

    color: var(--whiteColor);
    text-shadow: 
        -2px -2px 0 var(--midPurpleColor),  
        2px -2px 0 var(--midPurpleColor),
        -2px 2px 0 var(--midPurpleColor),
        2px 2px 0 var(--midPurpleColor);
}

p {
    font-size: var(--textSize);
}

body>.menu-cont img /*se puede cambiar luego a un selector o una opción mejor*/
{
    width: 60px;
}


/* -------- HEADER --------*/

.menu-cont
{
    border-collapse: separate;
    border-spacing: 0;

    border-bottom: 7px solid var(--midPinkColor);
    padding-left: var(--m7);
    padding-right: var(--m7);
    background-color: var(--whiteColor);

    position: sticky;
    top: 0;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav
{
    color: var(--whiteColor);
}

nav .menu-opt
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: var(--m7);
}

nav .menu-opt a
{
    color: var(midPurpleColor);
    background-color: var(--midPinkColor);
    text-decoration: none;
    display: block;

    font-size: var(--textSize);
    font-weight: 650;

    padding: 0px 60px;
    border: 5px solid var(--midPurpleColor);
    border-radius: 20px;
    border-color: var(--midPurpleColor);
    transition: 0.4s;
}


.contenedor{
    display: flex;
    height: 100vh;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*-----------boton 1----------*/

nav .menu-opt a
{
    overflow: hidden;
    border: 5px solid var(--midPurpleColor);
    z-index: 2;
}


nav .menu-opt a::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    top: -200%;
    background-color: var(--darkPurpleColor);
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: -1;
}

nav .menu-opt a:hover:before
{
    top: 0;
    border-radius: 0%;
}

.menu-opt a
{
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: var(--whiteColor);
    text-indent: 10px;
    z-index: 2;
}

/* termina boton 1 */




#menuToggle, .menu-icon
{
    color: var(--darkPurpleColor);
    display: none;
}

button
{
    padding: 5px 10px;
    background-color: var(--midPinkColor);
    color: var(--whiteColor);
    border-radius: 20px;
    border-color: var(--midPurpleColor);

    border-width: 5px;

    text-decoration: none;
    display: block;

    font-family: 'Fredoka';
    font-size: var(--textSize);
    font-weight: 650;
}

/* -------- TEASER --------*/

.teaser
{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;

    padding: 0 var(--m7);
    padding-bottom: var(--m5);
}

.teaser > iframe
{
    width: 100%;
    height: 80%;
}


/* -------- PROTAGONISTA --------*/

.protagonist
{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0 var(--m4);
    padding-bottom: var(--m5);
}

.protagonist .protagonist-img
{
    width: var(--m3);
    padding: 0 var(--m1em);
    border: 7px solid #2B0E39;
    border-radius: 20px;
}

.protagonist .protagonist-text
{
    display: flex;
    flex-direction: column;
    width: var(--m2);
}

.protagonist .protagonist-text h1
{
    margin-left: var(--m7);
}


.protagonist .protagonist-description-container
{
    background-color: #EFEAFF;
    padding: 0 var(--m7);

    border: 7px solid #2B0E39;
    border-left: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* -------- EMOCIONES --------*/

.characters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card-cont
{
    /* padding: 300px; */
    position: relative;
}

.card
{
    transform: translate(-50%, -100%);
    position: absolute;
}

.characters img
{
    width: 200px;
    height: 300px;
}

.card-cont .card
{
    transition: all 0.15s;

}

.card-cont .card:first-child
{
    transform: translate(-140%, -92%) rotate(-15deg);
    z-index: 2;
}

.card-cont .card:first-child:hover
{
    transform: translate(-140%, -120%) scale(1.2, 1.2) rotate(0deg);
    z-index: 3;
}

.card-cont .card:nth-child(2)
{
    z-index: 1;
}

.card-cont .card:nth-child(2):hover
{
    transform: translate(-50%, -120%) scale(1.2, 1.2) rotate(0deg);
    z-index: 3;
}

.card-cont .card:last-child
{
    transform: translate(40%, -92%) rotate(15deg);
    z-index: 0;
}

.card-cont .card:last-child:hover
{
    transform: translate(40%, -120%) scale(1.2, 1.2) rotate(0deg);
    z-index: 3;
}


/* -------- FOOTER --------*/

footer
{
    color: var(--whiteColor);
    background-color: var(--midPinkColor);
    bottom: 0;
}

footer .social
{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social nav
{
    padding-right: 45px;
}

footer .social nav ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: var(--m7);
}

footer .social .social-buttons a
{
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    text-decoration: none;
    background-color: var(--midPurpleColor); 
    

    z-index: 0;
    position: relative;
}

/* boton rgb */

footer .social .social-buttons a ::after
{
    content: "";
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    text-decoration: none;
    background-color: var(--midPurpleColor);
    
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

/* glow */
footer .social .social-buttons a ::before
{
    content: "";
    background: linear-gradient(45deg,
        #2B0E39,#7c598b,#9D7CBE,#CDAEDB,#EBE1F2);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 200%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(5px);    
    /* animation */
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;   
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

/* hover */
footer .social .social-buttons a:hover::before{
    opacity: 1;
}
footer .social .social-buttons a:active::after{
    background: transparent;
}




footer h2
{
    padding: 2% 2%;
    justify-content: center;
    align-items: center;
}

.social-buttons a:hover {
    opacity: 0.8;
}


/* tablet */
@media only screen and (max-width: 1030px)
{
   
    nav .menu-opt
    {
        gap: 10px;
    }
    nav .menu-opt a
    {
        padding: 3px;
    }

    .protagonist
    {
        padding: 0 5%;
        padding-bottom: 10%;
    }

    .protagonist .protagonist-img
    {
        padding: 30px var(--m1em);
        width: var(--m2);
    }

    .protagonist .protagonist-text p
    {
        font-size: var(--textMidSize);
    }

    .protagonist .protagonist-text
    {
       padding-left: 20px;
    }


    .protagonist .protagonist-description-container
    {
        padding: 0 var(--m1em);
        border: 7px solid #2B0E39;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    footer .social .menu-opt button
    {
        width: 80px;
    }

}

/* mobile */
@media only screen and (max-width: 580px)
{
    .menu-cont
    {
        padding-top: 20px;
    }

    .menu-cont, .menu-cont nav
    {
        display: block;
    }
    .menu-cont .menu-icon 
    {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu-cont .menu-icon i
    {
        font-size: 2em;
    }
    .menu-opt
    {
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        transition: 0.35s;
    }

    #menuToggle:checked ~ .menu-opt
    {
        max-height: 350px;
    }

    .menu-cont div:last-child
    {
         display: none;
    }

    .protagonist
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .protagonist .protagonist-text h1
    {
        text-align: center;
    }
    .protagonist .protagonist-text
    {
        width: var(--m1);
        padding-left: 0;
        padding-bottom: 50px;
    }

    .characters 
    {
        flex-wrap: wrap;
        height: 625px;
    }
    
    .card
    {
        padding: 4% 0;
        transform: none;
        position: relative;
    }
    
    .characters img
    {
        width: 200px;
        height: 300px;
    }
    
    .card-cont .card:first-child
    {
        transform:none;
        z-index: 0;
    }
    
    .card-cont .card:nth-child(2)
    {
        z-index: 0;
    }
    .card-cont .card:last-child
    {
        transform: none;
        z-index: 0;
    }

    .card-cont .card:first-child:hover
    {
        transform: none;
        z-index: 0;
    }

    .card-cont .card:nth-child(2):hover
    {
        transform: none;
        z-index: 0;
    }

    .card-cont .card:last-child:hover
    {
        transform: none;
        z-index: 0;
    }

    footer
    {
        margin-top: 500px;
    }
    
}